<a href="https://colab.research.google.com/github/feldspar-terra/covid19/blob/master/Corona_Virus_State.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt  
#data source https://github.com/CSSEGISandData/COVID-19

In [0]:
#@title
countries = [
{'timezones': ['Europe/Andorra'], 'code': 'AD', 'continent': 'Europe', 'name': 'Andorra', 'capital': 'Andorra la Vella'},
{'timezones': ['Asia/Kabul'], 'code': 'AF', 'continent': 'Asia', 'name': 'Afghanistan', 'capital': 'Kabul'},
{'timezones': ['America/Antigua'], 'code': 'AG', 'continent': 'North America', 'name': 'Antigua and Barbuda', 'capital': "St. John's"},
{'timezones': ['Europe/Tirane'], 'code': 'AL', 'continent': 'Europe', 'name': 'Albania', 'capital': 'Tirana'},
{'timezones': ['Asia/Yerevan'], 'code': 'AM', 'continent': 'Asia', 'name': 'Armenia', 'capital': 'Yerevan'},
{'timezones': ['Africa/Luanda'], 'code': 'AO', 'continent': 'Africa', 'name': 'Angola', 'capital': 'Luanda'},
{'timezones': ['America/Argentina/Buenos_Aires', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/Tucuman', 'America/Argentina/Catamarca', 'America/Argentina/La_Rioja', 'America/Argentina/San_Juan', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Ushuaia'], 'code': 'AR', 'continent': 'South America', 'name': 'Argentina', 'capital': 'Buenos Aires'},
{'timezones': ['Europe/Vienna'], 'code': 'AT', 'continent': 'Europe', 'name': 'Austria', 'capital': 'Vienna'},
{'timezones': ['Australia/Lord_Howe', 'Australia/Hobart', 'Australia/Currie', 'Australia/Melbourne', 'Australia/Sydney', 'Australia/Broken_Hill', 'Australia/Brisbane', 'Australia/Lindeman', 'Australia/Adelaide', 'Australia/Darwin', 'Australia/Perth'], 'code': 'AU', 'continent': 'Oceania', 'name': 'Australia', 'capital': 'Canberra'},
{'timezones': ['Asia/Baku'], 'code': 'AZ', 'continent': 'Asia', 'name': 'Azerbaijan', 'capital': 'Baku'},
{'timezones': ['America/Barbados'], 'code': 'BB', 'continent': 'North America', 'name': 'Barbados', 'capital': 'Bridgetown'},
{'timezones': ['Asia/Dhaka'], 'code': 'BD', 'continent': 'Asia', 'name': 'Bangladesh', 'capital': 'Dhaka'},
{'timezones': ['Europe/Brussels'], 'code': 'BE', 'continent': 'Europe', 'name': 'Belgium', 'capital': 'Brussels'},
{'timezones': ['Africa/Ouagadougou'], 'code': 'BF', 'continent': 'Africa', 'name': 'Burkina Faso', 'capital': 'Ouagadougou'},
{'timezones': ['Europe/Sofia'], 'code': 'BG', 'continent': 'Europe', 'name': 'Bulgaria', 'capital': 'Sofia'},
{'timezones': ['Asia/Bahrain'], 'code': 'BH', 'continent': 'Asia', 'name': 'Bahrain', 'capital': 'Manama'},
{'timezones': ['Africa/Bujumbura'], 'code': 'BI', 'continent': 'Africa', 'name': 'Burundi', 'capital': 'Bujumbura'},
{'timezones': ['Africa/Porto-Novo'], 'code': 'BJ', 'continent': 'Africa', 'name': 'Benin', 'capital': 'Porto-Novo'},
{'timezones': ['Asia/Brunei'], 'code': 'BN', 'continent': 'Asia', 'name': 'Brunei', 'capital': 'Bandar Seri Begawan'},
{'timezones': ['America/La_Paz'], 'code': 'BO', 'continent': 'South America', 'name': 'Bolivia', 'capital': 'Sucre'},
{'timezones': ['America/Noronha', 'America/Belem', 'America/Fortaleza', 'America/Recife', 'America/Araguaina', 'America/Maceio', 'America/Bahia', 'America/Sao_Paulo', 'America/Campo_Grande', 'America/Cuiaba', 'America/Porto_Velho', 'America/Boa_Vista', 'America/Manaus', 'America/Eirunepe', 'America/Rio_Branco'], 'code': 'BR', 'continent': 'South America', 'name': 'Brazil', 'capital': 'Bras\xc3\xadlia'},
{'timezones': ['America/Nassau'], 'code': 'BS', 'continent': 'North America', 'name': 'Bahamas', 'capital': 'Nassau'},
{'timezones': ['Asia/Thimphu'], 'code': 'BT', 'continent': 'Asia', 'name': 'Bhutan', 'capital': 'Thimphu'},
{'timezones': ['Africa/Gaborone'], 'code': 'BW', 'continent': 'Africa', 'name': 'Botswana', 'capital': 'Gaborone'},
{'timezones': ['Europe/Minsk'], 'code': 'BY', 'continent': 'Europe', 'name': 'Belarus', 'capital': 'Minsk'},
{'timezones': ['America/Belize'], 'code': 'BZ', 'continent': 'North America', 'name': 'Belize', 'capital': 'Belmopan'},
{'timezones': ['America/St_Johns', 'America/Halifax', 'America/Glace_Bay', 'America/Moncton', 'America/Goose_Bay', 'America/Blanc-Sablon', 'America/Montreal', 'America/Toronto', 'America/Nipigon', 'America/Thunder_Bay', 'America/Pangnirtung', 'America/Iqaluit', 'America/Atikokan', 'America/Rankin_Inlet', 'America/Winnipeg', 'America/Rainy_River', 'America/Cambridge_Bay', 'America/Regina', 'America/Swift_Current', 'America/Edmonton', 'America/Yellowknife', 'America/Inuvik', 'America/Dawson_Creek', 'America/Vancouver', 'America/Whitehorse', 'America/Dawson'], 'code': 'CA', 'continent': 'North America', 'name': 'Canada', 'capital': 'Ottawa'},
{'timezones': ['Africa/Kinshasa', 'Africa/Lubumbashi'], 'code': 'CD', 'continent': 'Africa', 'name': 'Congo (Kinshasa)', 'capital': 'Kinshasa'},
{'timezones': ['Africa/Brazzaville'], 'code': 'CG', 'continent': 'Africa', 'name': 'Republic of the Congo', 'capital': 'Brazzaville'},
{'timezones': ['Africa/Abidjan'], 'code': 'CI', 'continent': 'Africa', 'name': "Cote d'Ivoire", 'capital': 'Yamoussoukro'},
{'timezones': ['America/Santiago', 'Pacific/Easter'], 'code': 'CL', 'continent': 'South America', 'name': 'Chile', 'capital': 'Santiago'},
{'timezones': ['Africa/Douala'], 'code': 'CM', 'continent': 'Africa', 'name': 'Cameroon', 'capital': 'Yaound\xc3\xa9'},
{'timezones': ['Asia/Shanghai', 'Asia/Harbin', 'Asia/Chongqing', 'Asia/Urumqi', 'Asia/Kashgar'], 'code': 'CN', 'continent': 'Asia', 'name': "China", 'capital': 'Beijing'},
{'timezones': ['America/Bogota'], 'code': 'CO', 'continent': 'South America', 'name': 'Colombia', 'capital': 'Bogot\xc3\xa1'},
{'timezones': ['America/Costa_Rica'], 'code': 'CR', 'continent': 'North America', 'name': 'Costa Rica', 'capital': 'San Jos\xc3\xa9'},
{'timezones': ['America/Havana'], 'code': 'CU', 'continent': 'North America', 'name': 'Cuba', 'capital': 'Havana'},
{'timezones': ['Atlantic/Cape_Verde'], 'code': 'CV', 'continent': 'Africa', 'name': 'Cape Verde', 'capital': 'Praia'},
{'timezones': ['Asia/Nicosia'], 'code': 'CY', 'continent': 'Asia', 'name': 'Cyprus', 'capital': 'Nicosia'},
{'timezones': ['Europe/Prague'], 'code': 'CZ', 'continent': 'Europe', 'name': 'Czechia', 'capital': 'Prague'},
{'timezones': ['Europe/Berlin'], 'code': 'DE', 'continent': 'Europe', 'name': 'Germany', 'capital': 'Berlin'},
{'timezones': ['Africa/Djibouti'], 'code': 'DJ', 'continent': 'Africa', 'name': 'Djibouti', 'capital': 'Djibouti City'},
{'timezones': ['Europe/Copenhagen'], 'code': 'DK', 'continent': 'Europe', 'name': 'Denmark', 'capital': 'Copenhagen'},
{'timezones': ['America/Dominica'], 'code': 'DM', 'continent': 'North America', 'name': 'Dominica', 'capital': 'Roseau'},
{'timezones': ['America/Santo_Domingo'], 'code': 'DO', 'continent': 'North America', 'name': 'Dominican Republic', 'capital': 'Santo Domingo'},
{'timezones': ['America/Guayaquil', 'Pacific/Galapagos'], 'code': 'EC', 'continent': 'South America', 'name': 'Ecuador', 'capital': 'Quito'},
{'timezones': ['Europe/Tallinn'], 'code': 'EE', 'continent': 'Europe', 'name': 'Estonia', 'capital': 'Tallinn'},
{'timezones': ['Africa/Cairo'], 'code': 'EG', 'continent': 'Africa', 'name': 'Egypt', 'capital': 'Cairo'},
{'timezones': ['Africa/Asmera'], 'code': 'ER', 'continent': 'Africa', 'name': 'Eritrea', 'capital': 'Asmara'},
{'timezones': ['Africa/Addis_Ababa'], 'code': 'ET', 'continent': 'Africa', 'name': 'Ethiopia', 'capital': 'Addis Ababa'},
{'timezones': ['Europe/Helsinki'], 'code': 'FI', 'continent': 'Europe', 'name': 'Finland', 'capital': 'Helsinki'},
{'timezones': ['Pacific/Fiji'], 'code': 'FJ', 'continent': 'Oceania', 'name': 'Fiji', 'capital': 'Suva'},
{'timezones': ['Europe/Paris'], 'code': 'FR', 'continent': 'Europe', 'name': 'France', 'capital': 'Paris'},
{'timezones': ['Africa/Libreville'], 'code': 'GA', 'continent': 'Africa', 'name': 'Gabon', 'capital': 'Libreville'},
{'timezones': ['Asia/Tbilisi'], 'code': 'GE', 'continent': 'Asia', 'name': 'Georgia', 'capital': 'Tbilisi'},
{'timezones': ['Africa/Accra'], 'code': 'GH', 'continent': 'Africa', 'name': 'Ghana', 'capital': 'Accra'},
{'timezones': ['Africa/Banjul'], 'code': 'GM', 'continent': 'Africa', 'name': 'The Gambia', 'capital': 'Banjul'},
{'timezones': ['Africa/Conakry'], 'code': 'GN', 'continent': 'Africa', 'name': 'Guinea', 'capital': 'Conakry'},
{'timezones': ['Europe/Athens'], 'code': 'GR', 'continent': 'Europe', 'name': 'Greece', 'capital': 'Athens'},
{'timezones': ['America/Guatemala'], 'code': 'GT', 'continent': 'North America', 'name': 'Guatemala', 'capital': 'Guatemala City'},
{'timezones': ['America/Guatemala'], 'code': 'GT', 'continent': 'North America', 'name': 'Haiti', 'capital': 'Port-au-Prince'},
{'timezones': ['Africa/Bissau'], 'code': 'GW', 'continent': 'Africa', 'name': 'Guinea-Bissau', 'capital': 'Bissau'},
{'timezones': ['America/Guyana'], 'code': 'GY', 'continent': 'South America', 'name': 'Guyana', 'capital': 'Georgetown'},
{'timezones': ['America/Tegucigalpa'], 'code': 'HN', 'continent': 'North America', 'name': 'Honduras', 'capital': 'Tegucigalpa'},
{'timezones': ['Europe/Budapest'], 'code': 'HU', 'continent': 'Europe', 'name': 'Hungary', 'capital': 'Budapest'},
{'timezones': ['Asia/Jakarta', 'Asia/Pontianak', 'Asia/Makassar', 'Asia/Jayapura'], 'code': 'ID', 'continent': 'Asia', 'name': 'Indonesia', 'capital': 'Jakarta'},
{'timezones': ['Europe/Dublin'], 'code': 'IE', 'continent': 'Europe', 'name': 'Ireland', 'capital': 'Dublin'},
{'timezones': ['Asia/Jerusalem'], 'code': 'IL', 'continent': 'Asia', 'name': 'Israel', 'capital': 'Jerusalem'},
{'timezones': ['Asia/Calcutta'], 'code': 'IN', 'continent': 'Asia', 'name': 'India', 'capital': 'New Delhi'},
{'timezones': ['Asia/Baghdad'], 'code': 'IQ', 'continent': 'Asia', 'name': 'Iraq', 'capital': 'Baghdad'},
{'timezones': ['Asia/Tehran'], 'code': 'IR', 'continent': 'Asia', 'name': 'Iran', 'capital': 'Tehran'},
{'timezones': ['Atlantic/Reykjavik'], 'code': 'IS', 'continent': 'Europe', 'name': 'Iceland', 'capital': 'Reykjav\xc3\xadk'},
{'timezones': ['Europe/Rome'], 'code': 'IT', 'continent': 'Europe', 'name': 'Italy', 'capital': 'Rome'},
{'timezones': ['America/Jamaica'], 'code': 'JM', 'continent': 'North America', 'name': 'Jamaica', 'capital': 'Kingston'},
{'timezones': ['Asia/Amman'], 'code': 'JO', 'continent': 'Asia', 'name': 'Jordan', 'capital': 'Amman'},
{'timezones': ['Asia/Tokyo'], 'code': 'JP', 'continent': 'Asia', 'name': 'Japan', 'capital': 'Tokyo'},
{'timezones': ['Africa/Nairobi'], 'code': 'KE', 'continent': 'Africa', 'name': 'Kenya', 'capital': 'Nairobi'},
{'timezones': ['Asia/Bishkek'], 'code': 'KG', 'continent': 'Asia', 'name': 'Kyrgyzstan', 'capital': 'Bishkek'},
{'timezones': ['Pacific/Tarawa', 'Pacific/Enderbury', 'Pacific/Kiritimati'], 'code': 'KI', 'continent': 'Oceania', 'name': 'Kiribati', 'capital': 'Tarawa'},
{'timezones': ['Asia/Pyongyang'], 'code': 'KP', 'continent': 'Asia', 'name': 'North Korea', 'capital': 'Pyongyang'},
{'timezones': ['Asia/Seoul'], 'code': 'KR', 'continent': 'Asia', 'name': 'Korea, South', 'capital': 'Seoul'},
{'timezones': ['Asia/Kuwait'], 'code': 'KW', 'continent': 'Asia', 'name': 'Kuwait', 'capital': 'Kuwait City'},
{'timezones': ['Asia/Beirut'], 'code': 'LB', 'continent': 'Asia', 'name': 'Lebanon', 'capital': 'Beirut'},
{'timezones': ['Europe/Vaduz'], 'code': 'LI', 'continent': 'Europe', 'name': 'Liechtenstein', 'capital': 'Vaduz'},
{'timezones': ['Africa/Monrovia'], 'code': 'LR', 'continent': 'Africa', 'name': 'Liberia', 'capital': 'Monrovia'},
{'timezones': ['Africa/Maseru'], 'code': 'LS', 'continent': 'Africa', 'name': 'Lesotho', 'capital': 'Maseru'},
{'timezones': ['Europe/Vilnius'], 'code': 'LT', 'continent': 'Europe', 'name': 'Lithuania', 'capital': 'Vilnius'},
{'timezones': ['Europe/Luxembourg'], 'code': 'LU', 'continent': 'Europe', 'name': 'Luxembourg', 'capital': 'Luxembourg City'},
{'timezones': ['Europe/Riga'], 'code': 'LV', 'continent': 'Europe', 'name': 'Latvia', 'capital': 'Riga'},
{'timezones': ['Africa/Tripoli'], 'code': 'LY', 'continent': 'Africa', 'name': 'Libya', 'capital': 'Tripoli'},
{'timezones': ['Indian/Antananarivo'], 'code': 'MG', 'continent': 'Africa', 'name': 'Madagascar', 'capital': 'Antananarivo'},
{'timezones': ['Pacific/Majuro', 'Pacific/Kwajalein'], 'code': 'MH', 'continent': 'Oceania', 'name': 'Marshall Islands', 'capital': 'Majuro'},
{'timezones': ['Europe/Skopje'], 'code': 'MK', 'continent': 'Europe', 'name': 'Macedonia', 'capital': 'Skopje'},
{'timezones': ['Africa/Bamako'], 'code': 'ML', 'continent': 'Africa', 'name': 'Mali', 'capital': 'Bamako'},
{'timezones': ['Asia/Rangoon'], 'code': 'MM', 'continent': 'Asia', 'name': 'Myanmar', 'capital': 'Naypyidaw'},
{'timezones': ['Asia/Ulaanbaatar', 'Asia/Hovd', 'Asia/Choibalsan'], 'code': 'MN', 'continent': 'Asia', 'name': 'Mongolia', 'capital': 'Ulaanbaatar'},
{'timezones': ['Africa/Nouakchott'], 'code': 'MR', 'continent': 'Africa', 'name': 'Mauritania', 'capital': 'Nouakchott'},
{'timezones': ['Europe/Malta'], 'code': 'MT', 'continent': 'Europe', 'name': 'Malta', 'capital': 'Valletta'},
{'timezones': ['Indian/Mauritius'], 'code': 'MU', 'continent': 'Africa', 'name': 'Mauritius', 'capital': 'Port Louis'},
{'timezones': ['Indian/Maldives'], 'code': 'MV', 'continent': 'Asia', 'name': 'Maldives', 'capital': 'Mal\xc3\xa9'},
{'timezones': ['Africa/Blantyre'], 'code': 'MW', 'continent': 'Africa', 'name': 'Malawi', 'capital': 'Lilongwe'},
{'timezones': ['America/Mexico_City', 'America/Cancun', 'America/Merida', 'America/Monterrey', 'America/Mazatlan', 'America/Chihuahua', 'America/Hermosillo', 'America/Tijuana'], 'code': 'MX', 'continent': 'North America', 'name': 'Mexico', 'capital': 'Mexico City'},
{'timezones': ['Asia/Kuala_Lumpur', 'Asia/Kuching'], 'code': 'MY', 'continent': 'Asia', 'name': 'Malaysia', 'capital': 'Kuala Lumpur'},
{'timezones': ['Africa/Maputo'], 'code': 'MZ', 'continent': 'Africa', 'name': 'Mozambique', 'capital': 'Maputo'},
{'timezones': ['Africa/Windhoek'], 'code': 'NA', 'continent': 'Africa', 'name': 'Namibia', 'capital': 'Windhoek'},
{'timezones': ['Africa/Niamey'], 'code': 'NE', 'continent': 'Africa', 'name': 'Niger', 'capital': 'Niamey'},
{'timezones': ['Africa/Lagos'], 'code': 'NG', 'continent': 'Africa', 'name': 'Nigeria', 'capital': 'Abuja'},
{'timezones': ['America/Managua'], 'code': 'NI', 'continent': 'North America', 'name': 'Nicaragua', 'capital': 'Managua'},
{'timezones': ['Europe/Amsterdam'], 'code': 'NL', 'continent': 'Europe', 'name': 'Netherlands', 'capital': 'Amsterdam'},
{'timezones': ['Europe/Oslo'], 'code': 'NO', 'continent': 'Europe', 'name': 'Norway', 'capital': 'Oslo'},
{'timezones': ['Asia/Katmandu'], 'code': 'NP', 'continent': 'Asia', 'name': 'Nepal', 'capital': 'Kathmandu'},
{'timezones': ['Pacific/Nauru'], 'code': 'NR', 'continent': 'Oceania', 'name': 'Nauru', 'capital': 'Yaren'},
{'timezones': ['Pacific/Auckland', 'Pacific/Chatham'], 'code': 'NZ', 'continent': 'Oceania', 'name': 'New Zealand', 'capital': 'Wellington'},
{'timezones': ['Asia/Muscat'], 'code': 'OM', 'continent': 'Asia', 'name': 'Oman', 'capital': 'Muscat'},
{'timezones': ['America/Panama'], 'code': 'PA', 'continent': 'North America', 'name': 'Panama', 'capital': 'Panama City'},
{'timezones': ['America/Lima'], 'code': 'PE', 'continent': 'South America', 'name': 'Peru', 'capital': 'Lima'},
{'timezones': ['Pacific/Port_Moresby'], 'code': 'PG', 'continent': 'Oceania', 'name': 'Papua New Guinea', 'capital': 'Port Moresby'},
{'timezones': ['Asia/Manila'], 'code': 'PH', 'continent': 'Asia', 'name': 'Philippines', 'capital': 'Manila'},
{'timezones': ['Asia/Karachi'], 'code': 'PK', 'continent': 'Asia', 'name': 'Pakistan', 'capital': 'Islamabad'},
{'timezones': ['Europe/Warsaw'], 'code': 'PL', 'continent': 'Europe', 'name': 'Poland', 'capital': 'Warsaw'},
{'timezones': ['Europe/Lisbon', 'Atlantic/Madeira', 'Atlantic/Azores'], 'code': 'PT', 'continent': 'Europe', 'name': 'Portugal', 'capital': 'Lisbon'},
{'timezones': ['Pacific/Palau'], 'code': 'PW', 'continent': 'Oceania', 'name': 'Palau', 'capital': 'Ngerulmud'},
{'timezones': ['America/Asuncion'], 'code': 'PY', 'continent': 'South America', 'name': 'Paraguay', 'capital': 'Asunci\xc3\xb3n'},
{'timezones': ['Asia/Qatar'], 'code': 'QA', 'continent': 'Asia', 'name': 'Qatar', 'capital': 'Doha'},
{'timezones': ['Europe/Bucharest'], 'code': 'RO', 'continent': 'Europe', 'name': 'Romania', 'capital': 'Bucharest'},
{'timezones': ['Europe/Kaliningrad', 'Europe/Moscow', 'Europe/Volgograd', 'Europe/Samara', 'Asia/Yekaterinburg', 'Asia/Omsk', 'Asia/Novosibirsk', 'Asia/Krasnoyarsk', 'Asia/Irkutsk', 'Asia/Yakutsk', 'Asia/Vladivostok', 'Asia/Sakhalin', 'Asia/Magadan', 'Asia/Kamchatka', 'Asia/Anadyr'], 'code': 'RU', 'continent': 'Europe', 'name': 'Russia', 'capital': 'Moscow'},
{'timezones': ['Africa/Kigali'], 'code': 'RW', 'continent': 'Africa', 'name': 'Rwanda', 'capital': 'Kigali'},
{'timezones': ['Asia/Riyadh'], 'code': 'SA', 'continent': 'Asia', 'name': 'Saudi Arabia', 'capital': 'Riyadh'},
{'timezones': ['Pacific/Guadalcanal'], 'code': 'SB', 'continent': 'Oceania', 'name': 'Solomon Islands', 'capital': 'Honiara'},
{'timezones': ['Indian/Mahe'], 'code': 'SC', 'continent': 'Africa', 'name': 'Seychelles', 'capital': 'Victoria'},
{'timezones': ['Africa/Khartoum'], 'code': 'SD', 'continent': 'Africa', 'name': 'Sudan', 'capital': 'Khartoum'},
{'timezones': ['Europe/Stockholm'], 'code': 'SE', 'continent': 'Europe', 'name': 'Sweden', 'capital': 'Stockholm'},
{'timezones': ['Asia/Singapore'], 'code': 'SG', 'continent': 'Asia', 'name': 'Singapore', 'capital': 'Singapore'},
{'timezones': ['Europe/Ljubljana'], 'code': 'SI', 'continent': 'Europe', 'name': 'Slovenia', 'capital': 'Ljubljana'},
{'timezones': ['Europe/Bratislava'], 'code': 'SK', 'continent': 'Europe', 'name': 'Slovakia', 'capital': 'Bratislava'},
{'timezones': ['Africa/Freetown'], 'code': 'SL', 'continent': 'Africa', 'name': 'Sierra Leone', 'capital': 'Freetown'},
{'timezones': ['Europe/San_Marino'], 'code': 'SM', 'continent': 'Europe', 'name': 'San Marino', 'capital': 'San Marino'},
{'timezones': ['Africa/Dakar'], 'code': 'SN', 'continent': 'Africa', 'name': 'Senegal', 'capital': 'Dakar'},
{'timezones': ['Africa/Mogadishu'], 'code': 'SO', 'continent': 'Africa', 'name': 'Somalia', 'capital': 'Mogadishu'},
{'timezones': ['America/Paramaribo'], 'code': 'SR', 'continent': 'South America', 'name': 'Suriname', 'capital': 'Paramaribo'},
{'timezones': ['Africa/Sao_Tome'], 'code': 'ST', 'continent': 'Africa', 'name': 'S\xc3\xa3o Tom\xc3\xa9 and Pr\xc3\xadncipe', 'capital': 'S\xc3\xa3o Tom\xc3\xa9'},
{'timezones': ['Asia/Damascus'], 'code': 'SY', 'continent': 'Asia', 'name': 'Syria', 'capital': 'Damascus'},
{'timezones': ['Africa/Lome'], 'code': 'TG', 'continent': 'Africa', 'name': 'Togo', 'capital': 'Lom\xc3\xa9'},
{'timezones': ['Asia/Bangkok'], 'code': 'TH', 'continent': 'Asia', 'name': 'Thailand', 'capital': 'Bangkok'},
{'timezones': ['Asia/Dushanbe'], 'code': 'TJ', 'continent': 'Asia', 'name': 'Tajikistan', 'capital': 'Dushanbe'},
{'timezones': ['Asia/Ashgabat'], 'code': 'TM', 'continent': 'Asia', 'name': 'Turkmenistan', 'capital': 'Ashgabat'},
{'timezones': ['Africa/Tunis'], 'code': 'TN', 'continent': 'Africa', 'name': 'Tunisia', 'capital': 'Tunis'},
{'timezones': ['Pacific/Tongatapu'], 'code': 'TO', 'continent': 'Oceania', 'name': 'Tonga', 'capital': 'Nuku\xca\xbbalofa'},
{'timezones': ['Europe/Istanbul'], 'code': 'TR', 'continent': 'Asia', 'name': 'Turkey', 'capital': 'Ankara'},
{'timezones': ['America/Port_of_Spain'], 'code': 'TT', 'continent': 'North America', 'name': 'Trinidad and Tobago', 'capital': 'Port of Spain'},
{'timezones': ['Pacific/Funafuti'], 'code': 'TV', 'continent': 'Oceania', 'name': 'Tuvalu', 'capital': 'Funafuti'},
{'timezones': ['Africa/Dar_es_Salaam'], 'code': 'TZ', 'continent': 'Africa', 'name': 'Tanzania', 'capital': 'Dodoma'},
{'timezones': ['Europe/Kiev', 'Europe/Uzhgorod', 'Europe/Zaporozhye', 'Europe/Simferopol'], 'code': 'UA', 'continent': 'Europe', 'name': 'Ukraine', 'capital': 'Kiev'},
{'timezones': ['Africa/Kampala'], 'code': 'UG', 'continent': 'Africa', 'name': 'Uganda', 'capital': 'Kampala'},
{'timezones': ['America/New_York', 'America/Detroit', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Indiana/Indianapolis', 'America/Indiana/Marengo', 'America/Indiana/Knox', 'America/Indiana/Vevay', 'America/Chicago', 'America/Indiana/Vincennes', 'America/Indiana/Petersburg', 'America/Menominee', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Denver', 'America/Boise', 'America/Shiprock', 'America/Phoenix', 'America/Los_Angeles', 'America/Anchorage', 'America/Juneau', 'America/Yakutat', 'America/Nome', 'America/Adak', 'Pacific/Honolulu'], 'code': 'US', 'continent': 'North America', 'name': 'US', 'capital': 'Washington, D.C.'},
{'timezones': ['America/Montevideo'], 'code': 'UY', 'continent': 'South America', 'name': 'Uruguay', 'capital': 'Montevideo'},
{'timezones': ['Asia/Samarkand', 'Asia/Tashkent'], 'code': 'UZ', 'continent': 'Asia', 'name': 'Uzbekistan', 'capital': 'Tashkent'},
{'timezones': ['Europe/Vatican'], 'code': 'VA', 'continent': 'Europe', 'name': 'Holy See', 'capital': 'Vatican City'},
{'timezones': ['America/Caracas'], 'code': 'VE', 'continent': 'South America', 'name': 'Venezuela', 'capital': 'Caracas'},
{'timezones': ['Asia/Saigon'], 'code': 'VN', 'continent': 'Asia', 'name': 'Vietnam', 'capital': 'Hanoi'},
{'timezones': ['Pacific/Efate'], 'code': 'VU', 'continent': 'Oceania', 'name': 'Vanuatu', 'capital': 'Port Vila'},
{'timezones': ['Asia/Aden'], 'code': 'YE', 'continent': 'Asia', 'name': 'Yemen', 'capital': "Sana'a"},
{'timezones': ['Africa/Lusaka'], 'code': 'ZM', 'continent': 'Africa', 'name': 'Zambia', 'capital': 'Lusaka'},
{'timezones': ['Africa/Harare'], 'code': 'ZW', 'continent': 'Africa', 'name': 'Zimbabwe', 'capital': 'Harare'},
{'timezones': ['Africa/Algiers'], 'code': 'DZ', 'continent': 'Africa', 'name': 'Algeria', 'capital': 'Algiers'},
{'timezones': ['Europe/Sarajevo'], 'code': 'BA', 'continent': 'Europe', 'name': 'Bosnia and Herzegovina', 'capital': 'Sarajevo'},
{'timezones': ['Asia/Phnom_Penh'], 'code': 'KH', 'continent': 'Asia', 'name': 'Cambodia', 'capital': 'Phnom Penh'},
{'timezones': ['Africa/Bangui'], 'code': 'CF', 'continent': 'Africa', 'name': 'Central African Republic', 'capital': 'Bangui'},
{'timezones': ['Africa/Ndjamena'], 'code': 'TD', 'continent': 'Africa', 'name': 'Chad', 'capital': "N'Djamena"},
{'timezones': ['Indian/Comoro'], 'code': 'KM', 'continent': 'Africa', 'name': 'Comoros', 'capital': 'Moroni'},
{'timezones': ['Europe/Zagreb'], 'code': 'HR', 'continent': 'Europe', 'name': 'Croatia', 'capital': 'Zagreb'},
{'timezones': ['Asia/Dili'], 'code': 'TL', 'continent': 'Asia', 'name': 'East Timor', 'capital': 'Dili'},
{'timezones': ['America/El_Salvador'], 'code': 'SV', 'continent': 'North America', 'name': 'El Salvador', 'capital': 'San Salvador'},
{'timezones': ['Africa/Malabo'], 'code': 'GQ', 'continent': 'Africa', 'name': 'Equatorial Guinea', 'capital': 'Malabo'},
{'timezones': ['America/Grenada'], 'code': 'GD', 'continent': 'North America', 'name': 'Grenada', 'capital': "St. George's"},
{'timezones': ['Asia/Almaty', 'Asia/Qyzylorda', 'Asia/Aqtobe', 'Asia/Aqtau', 'Asia/Oral'], 'code': 'KZ', 'continent': 'Asia', 'name': 'Kazakhstan', 'capital': 'Astana'},
{'timezones': ['Asia/Vientiane'], 'code': 'LA', 'continent': 'Asia', 'name': 'Laos', 'capital': 'Vientiane'},
{'timezones': ['Pacific/Truk', 'Pacific/Ponape', 'Pacific/Kosrae'], 'code': 'FM', 'continent': 'Oceania', 'name': 'Federated States of Micronesia', 'capital': 'Palikir'},
{'timezones': ['Europe/Chisinau'], 'code': 'MD', 'continent': 'Europe', 'name': 'Moldova', 'capital': 'Chi\xc5\x9fin\xc4\x83u'},
{'timezones': ['Europe/Monaco'], 'code': 'MC', 'continent': 'Europe', 'name': 'Monaco', 'capital': 'Monaco'},
{'timezones': ['Europe/Podgorica'], 'code': 'ME', 'continent': 'Europe', 'name': 'Montenegro', 'capital': 'Podgorica'},
{'timezones': ['Africa/Casablanca'], 'code': 'MA', 'continent': 'Africa', 'name': 'Morocco', 'capital': 'Rabat'},
{'timezones': ['America/St_Kitts'], 'code': 'KN', 'continent': 'North America', 'name': 'Saint Kitts and Nevis', 'capital': 'Basseterre'},
{'timezones': ['America/St_Lucia'], 'code': 'LC', 'continent': 'North America', 'name': 'Saint Lucia', 'capital': 'Castries'},
{'timezones': ['America/St_Vincent'], 'code': 'VC', 'continent': 'North America', 'name': 'Saint Vincent and the Grenadines', 'capital': 'Kingstown'},
{'timezones': ['Pacific/Apia'], 'code': 'WS', 'continent': 'Oceania', 'name': 'Samoa', 'capital': 'Apia'},
{'timezones': ['Europe/Belgrade'], 'code': 'RS', 'continent': 'Europe', 'name': 'Serbia', 'capital': 'Belgrade'},
{'timezones': ['Africa/Johannesburg'], 'code': 'ZA', 'continent': 'Africa', 'name': 'South Africa', 'capital': 'Pretoria'},
{'timezones': ['Europe/Madrid', 'Africa/Ceuta', 'Atlantic/Canary'], 'code': 'ES', 'continent': 'Europe', 'name': 'Spain', 'capital': 'Madrid'},
{'timezones': ['Asia/Colombo'], 'code': 'LK', 'continent': 'Asia', 'name': 'Sri Lanka', 'capital': 'Sri Jayewardenepura Kotte'},
{'timezones': ['Africa/Mbabane'], 'code': 'SZ', 'continent': 'Africa', 'name': 'Swaziland', 'capital': 'Mbabane'},
{'timezones': ['Europe/Zurich'], 'code': 'CH', 'continent': 'Europe', 'name': 'Switzerland', 'capital': 'Bern'},
{'timezones': ['Asia/Dubai'], 'code': 'AE', 'continent': 'Asia', 'name': 'United Arab Emirates', 'capital': 'Abu Dhabi'},
{'timezones': ['Europe/London'], 'code': 'GB', 'continent': 'Europe', 'name': 'United Kingdom', 'capital': 'London'},
]

In [28]:
countries =  pd.DataFrame(countries)
countries

             timezones code  ...                  name                    capital
0     [Europe/Andorra]   AD  ...               Andorra           Andorra la Vella
1         [Asia/Kabul]   AF  ...           Afghanistan                      Kabul
2    [America/Antigua]   AG  ...   Antigua and Barbuda                 St. John's
3      [Europe/Tirane]   AL  ...               Albania                     Tirana
4       [Asia/Yerevan]   AM  ...               Armenia                    Yerevan
..                 ...  ...  ...                   ...                        ...
188     [Asia/Colombo]   LK  ...             Sri Lanka  Sri Jayewardenepura Kotte
189   [Africa/Mbabane]   SZ  ...             Swaziland                    Mbabane
190    [Europe/Zurich]   CH  ...           Switzerland                       Bern
191       [Asia/Dubai]   AE  ...  United Arab Emirates                  Abu Dhabi
192    [Europe/London]   GB  ...        United Kingdom                     London

[193 rows x 5 columns]

In [29]:
#Infected
infectedurl = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
# infected_state_type = pd.read_csv(infectedurl, error_bad_lines=False)
# infected_state_type = infected_state_type.drop(columns=['Lat','Long'])
# infected_state_type['Province/State'] = infected_state_type['Province/State'].fillna('Undefined')
# infected_state_type = infected_state_type.groupby(['Province/State','Country/Region']).sum()
# infected_state_type = infected_state_type.rename_axis("Date", axis="columns")
# infected_state_type = infected_state_type.T
# infected_state_type = infected_state_type.stack().stack().to_frame().rename(columns={0: 'Cases'})
# infected_state_type['Case Type'] = 'Infected'
# infected_state_type.name = 'Infected'
# infected_state_type

#First we must make a DataFrame from the Github CSV
infected_state_type = pd.read_csv(infectedurl, error_bad_lines=False).drop(columns=['Lat','Long'])
#To Ensure all Breakdown are Counted Correct
infected_state_type['Province/State'] = infected_state_type['Province/State'].fillna('Undefined')
infected_state_type = infected_state_type.groupby(['Province/State','Country/Region']).sum()
infected_state_type = infected_state_type.rename_axis("Date", axis="columns")
#Tranpose Table and Create Diff (This lines should Stay Above Stacking)
infected_state_type = infected_state_type.T
infected_state_type_diff = infected_state_type.diff()
#Stacking and Naming Dataframe Values
infected_state_type = infected_state_type.stack().stack().to_frame().rename(columns={0: 'Cumulative Cases'})
infected_state_type.name = 'Infected'
infected_state_type_diff = infected_state_type_diff.stack().stack().to_frame().rename(columns={0: 'Daily Cases'})
infected_state_type_diff.name = 'Infected Diff'
infected_state_type = pd.merge(infected_state_type,infected_state_type_diff, how='left', on=['Date','Country/Region','Province/State'])
infected_state_type['Case Type'] = 'Infected'
infected_state_type.head(100)

                                       Cumulative Cases  Daily Cases Case Type
Date    Country/Region Province/State
1/22/20 Afghanistan    Undefined                    0.0          NaN  Infected
        Albania        Undefined                    0.0          NaN  Infected
        Algeria        Undefined                    0.0          NaN  Infected
        Andorra        Undefined                    0.0          NaN  Infected
        Angola         Undefined                    0.0          NaN  Infected
...                                                 ...          ...       ...
        Cuba           Undefined                    0.0          NaN  Infected
        Cyprus         Undefined                    0.0          NaN  Infected
        Czechia        Undefined                    0.0          NaN  Infected
        Denmark        Faroe Islands                0.0          NaN  Infected
                       Greenland                    0.0          NaN  Infected

[100 rows x 3 columns]

In [30]:
(infected_state_type.groupby('Country/Region')['Daily Cases'].sum()).sum()

781810.0

In [0]:
# #@title
# #Recovered
# recoveredurl = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv'
# # recovered_state_type = pd.read_csv(recoveredurl, error_bad_lines=False)
# # recovered_state_type = recovered_state_type.drop(columns=['Lat','Long'])
# # recovered_state_type['Province/State'] = recovered_state_type['Province/State'].fillna('Undefined')
# # recovered_state_type = recovered_state_type.groupby(['Province/State','Country/Region']).sum()
# # recovered_state_type = recovered_state_type.rename_axis("Date", axis="columns")
# # recovered_state_type = recovered_state_type.T
# # recovered_state_type = recovered_state_type.stack().stack().to_frame().rename(columns={0: 'Cases'})
# # recovered_state_type['Case Type'] = 'Recovered'
# # recovered_state_type.name = 'Recovered'
# # recovered_state_type

# #First we must make a DataFrame from the Github CSV
# recovered_state_type = pd.read_csv(recoveredurl, error_bad_lines=False).drop(columns=['Lat','Long'])
# #To Ensure all Breakdown are Counted Correct
# recovered_state_type['Province/State'] = recovered_state_type['Province/State'].fillna('Undefined')
# recovered_state_type = recovered_state_type.groupby(['Province/State','Country/Region']).sum()
# recovered_state_type = recovered_state_type.rename_axis("Date", axis="columns")
# #Tranpose Table and Create Diff (This lines should Stay Above Stacking)
# recovered_state_type = recovered_state_type.T
# recovered_state_type_diff = recovered_state_type.diff()
# #Stacking and Naming Dataframe Values
# recovered_state_type = recovered_state_type.stack().stack().to_frame().rename(columns={0: 'Cumulative Cases'})
# recovered_state_type.name = 'Recovered'
# recovered_state_type_diff = recovered_state_type_diff.stack().stack().to_frame().rename(columns={0: 'Daily Cases'})
# recovered_state_type_diff.name = 'Recovered Diff'
# recovered_state_type = pd.merge(recovered_state_type,recovered_state_type_diff, how='left', on=['Date','Country/Region','Province/State'])
# recovered_state_type['Case Type'] = 'Recovered'
# recovered_state_type

In [32]:
#Death
deathurl = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
# death_state_type = pd.read_csv(deathurl, error_bad_lines=False)
# death_state_type = death_state_type.drop(columns=['Lat','Long'])
# death_state_type['Province/State'] = death_state_type['Province/State'].fillna('Undefined')
# death_state_type = death_state_type.groupby(['Province/State','Country/Region']).sum()
# death_state_type = death_state_type.rename_axis("Date", axis="columns")
# death_state_type = death_state_type.T
# death_state_type = death_state_type.stack().stack().to_frame().rename(columns={0: 'Cases'})
# death_state_type['Case Type'] = 'Death'
# death_state_type.name = 'Death'
# death_state_type

#First we must make a DataFrame from the Github CSV
death_state_type = pd.read_csv(deathurl, error_bad_lines=False).drop(columns=['Lat','Long'])
#To Ensure all Breakdown are Counted Correct
death_state_type['Province/State'] = death_state_type['Province/State'].fillna('Undefined')
death_state_type = death_state_type.groupby(['Province/State','Country/Region']).sum()
death_state_type = death_state_type.rename_axis("Date", axis="columns")
#Tranpose Table and Create Diff (This lines should Stay Above Stacking)
death_state_type = death_state_type.T
death_state_type_diff = death_state_type.diff()
#Stacking and Naming Dataframe Values
death_state_type = death_state_type.stack().stack().to_frame().rename(columns={0: 'Cumulative Cases'})
death_state_type.name = 'Death'
death_state_type_diff = death_state_type_diff.stack().stack().to_frame().rename(columns={0: 'Daily Cases'})
death_state_type_diff.name = 'Death Diff'
death_state_type = pd.merge(death_state_type,death_state_type_diff, how='left', on=['Date','Country/Region','Province/State'])
death_state_type['Case Type'] = 'Death'
death_state_type

                                           Cumulative Cases  ...  Case Type
Date    Country/Region     Province/State                    ...
1/22/20 Afghanistan        Undefined                    0.0  ...      Death
        Albania            Undefined                    0.0  ...      Death
        Algeria            Undefined                    0.0  ...      Death
        Andorra            Undefined                    0.0  ...      Death
        Angola             Undefined                    0.0  ...      Death
...                                                     ...  ...        ...
3/30/20 Venezuela          Undefined                    3.0  ...      Death
        Vietnam            Undefined                    0.0  ...      Death
        West Bank and Gaza Undefined                    1.0  ...      Death
        Zambia             Undefined                    0.0  ...      Death
        Zimbabwe           Undefined                    1.0  ...      Death

[17526 rows x 3 columns]

In [0]:

# merge_cols = ['Date','Country/Region','Province/State']
# active_df = pd.DataFrame(infected_state_type).merge(recovered_state_type.merge(death_state_type, on=merge_cols), on=merge_cols)
# active_df ['Cumulative Cases_a'] = active_df ['Cumulative Cases'] - active_df ['Cumulative Cases_x'] - active_df ['Cumulative Cases_y']
# active_df ['Case Type_a'] = 'Active'
# active_df

In [0]:
# #active_state_type = infected_state_type - recovered_state_type - death_state_type
# active_state_type = active_df.drop(columns=['Cumulative Cases','Case Type','Daily Cases','Cumulative Cases_x','Case Type_x','Daily Cases_x','Cumulative Cases_y','Case Type_y','Daily Cases_y'])
# active_state_type = active_state_type.rename(columns={'Case Type_a': 'Case Type', 'Cumulative Cases_a': 'Cumulative Cases'})
# active_state_type['Daily Cases'] = active_state_type['Cumulative Cases'].diff()
# active_state_type = active_state_type[['Cumulative Cases',	'Daily Cases',	'Case Type']]
# active_state_type

In [34]:
merge_cols = ['Date','Country/Region','Province/State']
cv_metric2 = infected_state_type.merge(death_state_type,on=merge_cols,suffixes=['_w','_y'])
cv_metric2

                                           Cumulative Cases_w  ...  Case Type_y
Date    Country/Region     Province/State                      ...
1/22/20 Afghanistan        Undefined                      0.0  ...        Death
        Albania            Undefined                      0.0  ...        Death
        Algeria            Undefined                      0.0  ...        Death
        Andorra            Undefined                      0.0  ...        Death
        Angola             Undefined                      0.0  ...        Death
...                                                       ...  ...          ...
3/30/20 Venezuela          Undefined                    135.0  ...        Death
        Vietnam            Undefined                    203.0  ...        Death
        West Bank and Gaza Undefined                    116.0  ...        Death
        Zambia             Undefined                     35.0  ...        Death
        Zimbabwe           Undefined                      7.0  ...        Death

[17526 rows x 6 columns]

In [35]:
all_state_type = pd.concat([infected_state_type, death_state_type])
# all_state_type = pd.concat([infected_state_type, recovered_state_type, death_state_type, active_state_type])

all_state_type = all_state_type[(all_state_type['Cumulative Cases'] != 0)].reset_index()
all_state_type = pd.merge(left=all_state_type, right=countries, how='left', left_on='Country/Region', right_on='name')
all_state_type = all_state_type.drop(columns=['name','capital'])
all_state_type = all_state_type.set_index('Date')
all_state_type

             Country/Region Province/State  ...  code      continent
Date                                        ...
1/22/20               China          Anhui  ...    CN           Asia
1/22/20               China        Beijing  ...    CN           Asia
1/22/20               China      Chongqing  ...    CN           Asia
1/22/20               China         Fujian  ...    CN           Asia
1/22/20               China      Guangdong  ...    CN           Asia
...                     ...            ...  ...   ...            ...
3/30/20             Uruguay      Undefined  ...    UY  South America
3/30/20          Uzbekistan      Undefined  ...    UZ           Asia
3/30/20           Venezuela      Undefined  ...    VE  South America
3/30/20  West Bank and Gaza      Undefined  ...   NaN            NaN
3/30/20            Zimbabwe      Undefined  ...    ZW         Africa

[11505 rows x 8 columns]

In [36]:
cv_metric = cv_metric2
# cv_metric = cv_metric.rename(columns={'Cumulative Cases_w': 'Infected Cases','Cumulative Cases_x': 'Recovered Cases','Cumulative Cases_y': 'Death Cases','Cumulative Cases_z': 'Active Case',
#                                       'Case Type_w': 'Infected Case Type','Case Type_x': 'Recovered Case Type','Case Type_y': 'Death Case Type','Case Type_z': 'Active Case Type',
#                                       'Daily Cases_w': 'Infected Daily Cases','Daily Cases_x': 'Recovered Daily Cases','Daily Cases_y': 'Death Daily Cases','Daily Cases_z': 'Active Daily Case'})
cv_metric = cv_metric.rename(columns={'Cumulative Cases_w': 'Infected Cases','Cumulative Cases_y': 'Death Cases',
                                      'Case Type_w': 'Infected Case Type','Case Type_y': 'Death Case Type',
                                      'Daily Cases_w': 'Infected Daily Cases','Daily Cases_y': 'Death Daily Cases'})
cv_metric = cv_metric.groupby(['Date','Country/Region']).sum()
cv_metric['Mortality Rate'] = cv_metric['Death Cases']/cv_metric['Infected Cases']
# cv_metric['Recovery Rate'] = cv_metric['Recovered Cases']/cv_metric['Infected Cases']
cv_metric = cv_metric.reset_index()
cv_metric = pd.merge(left=cv_metric, right=countries, how='left', left_on='Country/Region', right_on='name')
cv_metric = cv_metric.drop(columns=['name','capital'])
cv_metric = cv_metric.set_index('Date')
cv_metric

             Country/Region  Infected Cases  ...  code      continent
Date                                         ...
1/22/20         Afghanistan             0.0  ...    AF           Asia
1/22/20             Albania             0.0  ...    AL         Europe
1/22/20             Algeria             0.0  ...    DZ         Africa
1/22/20             Andorra             0.0  ...    AD         Europe
1/22/20              Angola             0.0  ...    AO         Africa
...                     ...             ...  ...   ...            ...
3/9/20            Venezuela             0.0  ...    VE  South America
3/9/20              Vietnam            30.0  ...    VN           Asia
3/9/20   West Bank and Gaza            19.0  ...   NaN            NaN
3/9/20               Zambia             0.0  ...    ZM         Africa
3/9/20             Zimbabwe             0.0  ...    ZW         Africa

[12282 rows x 9 columns]

In [37]:
infected_country_curve = pd.read_csv(infectedurl, error_bad_lines=False).drop(columns=['Lat','Long'])
infected_country_curve = infected_country_curve.groupby(['Country/Region']).sum()
infected_country_curve

                    1/22/20  1/23/20  1/24/20  ...  3/28/20  3/29/20  3/30/20
Country/Region                                 ...
Afghanistan               0        0        0  ...      110      120      170
Albania                   0        0        0  ...      197      212      223
Algeria                   0        0        0  ...      454      511      584
Andorra                   0        0        0  ...      308      334      370
Angola                    0        0        0  ...        5        7        7
...                     ...      ...      ...  ...      ...      ...      ...
Venezuela                 0        0        0  ...      119      119      135
Vietnam                   0        2        2  ...      174      188      203
West Bank and Gaza        0        0        0  ...       98      109      116
Zambia                    0        0        0  ...       28       29       35
Zimbabwe                  0        0        0  ...        7        7        7

[178 rows x 69 columns]

In [38]:
infected_country_min = infected_country_curve
infected_country_min = infected_country_min.rename_axis("Min Date", axis="columns")
infected_country_min = infected_country_min.stack().to_frame()
infected_country_min = infected_country_min.rename(columns={0: 'Infected Cases'})
infected_country_min = infected_country_min[(infected_country_min['Infected Cases'] > 99)].reset_index()
infected_country_min = infected_country_min.groupby(['Country/Region'])['Min Date'].min()
infected_country_min = infected_country_min.to_frame()
infected_country_min

                   Min Date
Country/Region
Afghanistan         3/27/20
Albania             3/23/20
Algeria             3/21/20
Andorra             3/22/20
Argentina           3/20/20
...                     ...
Uruguay             3/21/20
Uzbekistan          3/28/20
Venezuela           3/26/20
Vietnam             3/22/20
West Bank and Gaza  3/29/20

[106 rows x 1 columns]

In [39]:
infected_country_curve = infected_country_curve.rename_axis("Date", axis="columns")
infected_country_curve = infected_country_curve.stack()
infected_country_curve = infected_country_curve.to_frame()
infected_country_curve = infected_country_curve.rename(columns={0: 'Infected Cases'})
infected_country_curve = infected_country_curve.reset_index()
infected_country_curve

      Country/Region     Date  Infected Cases
0        Afghanistan  1/22/20               0
1        Afghanistan  1/23/20               0
2        Afghanistan  1/24/20               0
3        Afghanistan  1/25/20               0
4        Afghanistan  1/26/20               0
...              ...      ...             ...
12277       Zimbabwe  3/26/20               3
12278       Zimbabwe  3/27/20               5
12279       Zimbabwe  3/28/20               7
12280       Zimbabwe  3/29/20               7
12281       Zimbabwe  3/30/20               7

[12282 rows x 3 columns]

In [40]:
infected_country_curve = pd.merge(left=infected_country_curve, right=infected_country_min, how='left', left_on='Country/Region', right_on='Country/Region')
infected_country_curve = infected_country_curve[(infected_country_curve['Min Date'].notnull())]
infected_country_curve = infected_country_curve
infected_country_curve = infected_country_curve
infected_country_curve['Delta Curve'] = infected_country_curve['Date'].astype('datetime64[ns]')-infected_country_curve['Min Date'].astype('datetime64[ns]')
infected_country_curve['Delta Curve'] = infected_country_curve['Delta Curve'].astype('str').str.extract('([-+]?\d+)').astype('int')
infected_country_curve = pd.merge(left=infected_country_curve, right=countries, how='left', left_on='Country/Region', right_on='name')
infected_country_curve

          Country/Region     Date  ...         name capital
0            Afghanistan  1/22/20  ...  Afghanistan   Kabul
1            Afghanistan  1/23/20  ...  Afghanistan   Kabul
2            Afghanistan  1/24/20  ...  Afghanistan   Kabul
3            Afghanistan  1/25/20  ...  Afghanistan   Kabul
4            Afghanistan  1/26/20  ...  Afghanistan   Kabul
...                  ...      ...  ...          ...     ...
7309  West Bank and Gaza  3/26/20  ...          NaN     NaN
7310  West Bank and Gaza  3/27/20  ...          NaN     NaN
7311  West Bank and Gaza  3/28/20  ...          NaN     NaN
7312  West Bank and Gaza  3/29/20  ...          NaN     NaN
7313  West Bank and Gaza  3/30/20  ...          NaN     NaN

[7314 rows x 10 columns]

In [0]:
# #this loads the spreadsheet from google drive
#data source https://github.com/CSSEGISandData/COVID-19
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from oauth2client.client import GoogleCredentials
from IPython.display import display
from gspread_dataframe import get_as_dataframe, set_with_dataframe
gc = gspread.authorize(GoogleCredentials.get_application_default())

sh = gc.open_by_key ("15tpOsyXQXGLPfejCBWIkTDKvlKSf2xnKs9Y0hGPBFFo").worksheet ("Import_State")
set_with_dataframe (sh, all_state_type.reset_index(), resize = False, include_index = True)

sh2 = gc.open_by_key ("15tpOsyXQXGLPfejCBWIkTDKvlKSf2xnKs9Y0hGPBFFo").worksheet ("Import_Rates")
set_with_dataframe (sh2, cv_metric.reset_index(), resize = False, include_index = True)

sh3 = gc.open_by_key ("15tpOsyXQXGLPfejCBWIkTDKvlKSf2xnKs9Y0hGPBFFo").worksheet ("Import_Curve")
set_with_dataframe (sh3, infected_country_curve.reset_index(), resize = False, include_index = True)